<!DOCTYPE html>
<html>
<head>
    <title>Dollhouse Lights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body>
    <h1>Dollhouse Lights + Sound Control</h1>
    <form action="/start" method="post">
        <button type="submit" style="background-color: darkseagreen;">Start</button>
    </form>
    <form action="/shutdown" method="post">
        <button type="submit" style="background-color: pink;">Shutdown</button>
    </form>
</body>
</html>

