<!DOCTYPE html>
<html>
<head>
    <title>Dollhouse Lights</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   
</head>
<body>
    <h1>Dollhouse Lights + Sound Control</h1>
    <form action="/start" method="post">
        <button type="submit" style="background-color: darkseagreen;">Start</button>
    </form>
    {% if status_msg %}
      <p style="color: red;">{{ status_msg }}</p>
    {% endif %}
    <form action="/stop" method="post">
        <button type="submit" style="background-color: red;">Stop</button>
    </form>
    <form action="/shutdown" method="post">
        <button type="submit" style="background-color: pink;">Shutdown</button>
    </form>
</body>
</html>

